<a href="https://colab.research.google.com/github/rtajeong/M3_new/blob/main/M3_lab05_hyper_param.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hyperparameter Tuning

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn import svm
from sklearn.model_selection import cross_val_score, train_test_split

In [3]:
!curl -L https://goo.gl/s8qSL5 -o bike_train.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100   139    0   139    0     0    333      0 --:--:-- --:--:-- --:--:--   333
100   340  100   340    0     0    482      0 --:--:-- --:--:-- --:--:--   482
100  643k  100  643k    0     0   554k      0  0:00:01  0:00:01 --:--:-- 3353k

In [4]:
df = pd.read_csv('bike_train.csv', parse_dates=['datetime'])
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [5]:
df.dtypes

datetime      datetime64[ns]
season                 int64
holiday                int64
workingday             int64
weather                int64
temp                 float64
atemp                float64
humidity               int64
windspeed            float64
casual                 int64
registered             int64
count                  int64
dtype: object

In [6]:
df['datetime'].dt.year[0], df['datetime'].dt.month[0], df['datetime'].dt.day[0]

(2011, 1, 1)

In [7]:
df['datetime'].dt.hour[0], df['datetime'].dt.minute[0], df['datetime'].dt.second[0]

(0, 0, 0)

In [8]:
df['datetime'].dt.dayofweek[0]

5

In [9]:
d_month = df['datetime'].dt.month
d_hour = df['datetime'].dt.hour
d_dayofweek = df['datetime'].dt.dayofweek

In [10]:
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [11]:
df['d_month'] = d_month
df['d_hour'] = d_hour
df['d_dayofweek'] = d_dayofweek

In [12]:
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,d_month,d_hour,d_dayofweek
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,1,0,5
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,1,1,5

In [13]:
df.columns

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count',
       'd_month', 'd_hour', 'd_dayofweek'],
      dtype='object')

In [14]:
features = ['season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'd_month', 'd_hour', 'd_dayofweek']

In [15]:
X, y = df[features], df['count']

In [16]:
X.shape, y.shape

((10886, 11), (10886,))

In [17]:
# simple prediction model
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
model = RandomForestRegressor(n_estimators=100)
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.867103738074789

In [18]:
# different models
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = LinearRegression()
model.fit(X_train, y_train)
print("Linear model: ", model.score(X_test, y_test))

model = DecisionTreeRegressor(max_depth=7)
model.fit(X_train, y_train)
print("Decision Tree model: ", model.score(X_test, y_test))

model = RandomForestRegressor(n_estimators=100)
model.fit(X_train, y_train)
print("Random forest: ", model.score(X_test, y_test))

Linear model:  0.32447469320544975
Decision Tree model:  0.6899365087987078
Random forest:  0.8596338837683494

# hyperparameter selection

In [19]:
# Grid search
n_estimators = 30
max_depth_list = [10, 20, 30]
max_feature_list = [0.3, 0.5, 0.9, 1.0]
hp_lists = []

for i in max_depth_list:
  for j in max_feature_list:
    model = RandomForestRegressor(n_estimators=n_estimators,
                                  max_depth = i,
                                  max_features = j,
                                  random_state = 20,
                                  n_jobs = -1)
    score = cross_val_score(model, X_train, y_train, cv=5).mean()
    hp_lists.append({'score:': score,
                     'max_depth': i,
                     'max_features': j})
hp_lists

[{'max_depth': 10, 'max_features': 0.3, 'score:': 0.7469781872614527},
 {'max_depth': 10, 'max_features': 0.5, 'score:': 0.8077809371251196},
 {'max_depth': 10, 'max_features': 0.9, 'score:': 0.8438652142188305},
 {'max_depth': 10, 'max_features': 1.0, 'score:': 0.8436602194303235},
 {'max_depth': 20, 'max_features': 0.3, 'score:': 0.8257398642369791},
 {'max_depth': 20, 'max_features': 0.5, 'score:': 0.8603334789541044},
 {'max_depth': 20, 'max_features': 0.9, 'score:': 0.862249009319531},
 {'max_depth': 20, 'max_features': 1.0, 'score:': 0.860508011278276},
 {'max_depth': 30, 'max_features': 0.3, 'score:': 0.8260550562610062},
 {'max_depth': 30, 'max_features': 0.5, 'score:': 0.858407053812541},
 {'max_depth': 30, 'max_features': 0.9, 'score:': 0.8630750590870285},
 {'max_depth': 30, 'max_features': 1.0, 'score:': 0.8608892603026657}]

In [ ]:
# random search
hp_lists = []
num_epoch = 20

for i in range(num_epoch):
  max_depth = np.random.randint(low=5, high=50)
  max_feature = np.random.uniform(low=0.3, high=1.0)
  model = RandomForestRegressor(n_estimators=n_estimators,
                                  max_depth = max_depth,
                                  max_features = max_feature,
                                  random_state = 20,
                                  n_jobs = -1)
  score = cross_val_score(model, X_train, y_train, cv=5).mean()
  hp_lists.append({'score': score,
                   'max_depth': max_depth,
                   'max_features': max_feature})
# hp_lists
pd.DataFrame(hp_lists).sort_values(by='score', ascending=False)

In [22]:
# fine tuning
hp_lists = []
num_epoch = 20

for i in range(num_epoch):
  max_depth = np.random.randint(low=16, high=35)
  max_feature = np.random.uniform(low=0.62, high=0.9)
  model = RandomForestRegressor(n_estimators=n_estimators,
                                  max_depth = max_depth,
                                  max_features = max_feature,
                                  random_state = 20,
                                  n_jobs = -1)
  score = cross_val_score(model, X_train, y_train, cv=5).mean()
  hp_lists.append({'score': score,
                   'max_depth': max_depth,
                   'max_features': max_feature})
# hp_lists
pd.DataFrame(hp_lists).sort_values(by='score', ascending=False)

       score  max_depth  max_features
10  0.866048         29      0.683660
4   0.865936         33      0.701380
14  0.865882         18      0.683804
0   0.865852         34      0.696740
17  0.865146         21      0.630610
6   0.865062         26      0.655465
16  0.864711         33      0.630021
9   0.864576         20      0.688470
13  0.863966         32      0.730090
2   0.863964         26      0.799777
11  0.863950         34      0.760876
12  0.863903         29      0.771216
3   0.863812         16      0.893659
1   0.863715         30      0.747442
18  0.863564         27      0.627594
19  0.863560         21      0.825809
15  0.863422         24      0.876779
5   0.863180         31      0.851793
8   0.862439         19      0.838534
7   0.862249         20      0.877152

In [23]:
# final model decision
model = RandomForestRegressor(n_estimators=30,
                                  max_depth = 33,
                                  max_features = 0.77,
                                  random_state = 20,
                                  n_jobs = -1)
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.8611461926191286

In [24]:
# most significant features

model.feature_importances_

array([0.01760999, 0.0021521 , 0.04357519, 0.01946973, 0.07809653,
       0.08682096, 0.06587703, 0.02984325, 0.03945839, 0.55997741,
       0.05711942])

In [25]:
imp_df = pd.DataFrame({'features': features, 'importance': model.feature_importances_})
imp_df.sort_values(by='importance', ascending=False)

       features  importance
9        d_hour    0.559977
5         atemp    0.086821
4          temp    0.078097
6      humidity    0.065877
10  d_dayofweek    0.057119
2    workingday    0.043575
8       d_month    0.039458
7     windspeed    0.029843
3       weather    0.019470
0        season    0.017610
1       holiday    0.002152

# Use Library functions

In [26]:
from sklearn.model_selection import GridSearchCV

params = [{"max_depth": [10, 20, 30],
           "max_features": [0.3, 0.5, 0.9, 1.0]}]

clf = GridSearchCV(RandomForestRegressor(), params, cv=5)
clf.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestRegressor(),
             param_grid=[{'max_depth': [10, 20, 30],
                          'max_features': [0.3, 0.5, 0.9, 1.0]}])

In [27]:
best_val = clf.best_estimator_
best_score = clf.best_score_
print(best_val,best_score )
print("final score:", clf.score(X_test, y_test))

RandomForestRegressor(max_depth=20, max_features=0.9) 0.8684481567799169
final score: 0.8640934558550776

In [28]:
from sklearn.model_selection import RandomizedSearchCV

n_estimators = [int(x) for x in np.linspace(200, 2000, 10)]
max_features = ['auto', 'sqrt']
max_depth = [int(x) for x in np.linspace(10, 110, 11)]
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth}
rf = RandomizedSearchCV(RandomForestRegressor(), random_grid, cv=5)
rf.fit(X_train, y_train)

RandomizedSearchCV(cv=5, estimator=RandomForestRegressor(),
                   param_distributions={'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110],
                                        'max_features': ['auto', 'sqrt'],
                                        'n_estimators': [200, 400, 600, 800,
                                                         1000, 1200, 1400, 1600,
                                                         1800, 2000]})

In [29]:
rf.best_params_, rf.best_estimator_, rf.best_score_

({'max_depth': 80, 'max_features': 'auto', 'n_estimators': 1200},
 RandomForestRegressor(max_depth=80, n_estimators=1200),
 0.8662615809970051)

In [30]:
print("Final test score:", rf.score(X_test, y_test))

Final test score: 0.8622125426417494